
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Home - Municipal Enforcement</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="myside">
    <div class="container-fluid">
        <div class="row">
            <div class="top_banner">
                <img src="~/Content/images/banner.jpg" " class="img-responsive img_width" alt="">
                <div class="logo_overlay">
                    <div class="logo_img"><img src="/Content/images/logo.png" class="img-responsive" alt=""></div>
                </div>
                <div class="overlay">
                    <a href="~/Infringement/Search"><div class="black_strip">Click here to pay for an infringement</div></a>
                    <a href="~/Home/Contact"><div class="blue_strip">If you choose to appeal an infringement or contact us</div></a>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome_txt">Welcome to</div>
                <div class="blue_txt">Municipal Enforcement LTD</div>
                <p class="details_p">
                    @*Municipal Enforcement Limited is an established service based division of Primeparking Limited. We currently provide our enforcement services across all of Primeparking’s portfolio throughout the Wellington region. We strive to take a flexible approach to our parking enforcement, with our main aim being to reduce parking abuse and ensure that our busy carparks are available for not only for our loyal paying customers, but also new customers and visitors to our city.*@
                    Municipal Enforcement Limited is an established service based division of Primeparking Limited. We currently provide our enforcement services across all of Primeparking’s portfolio throughout the Wellington region. We strive to take a flexible approach to our parking enforcement and believe towing or clamping vehicles should be a last resort.
                </p>
                <p class="details_p">
                    @*We believe towing and or clamping vehicles tend to be a more aggressive way of ensuring that our carpark users are following our terms and conditions, and therefore opt to issue “breach notices” – these are not fines, but a breach of the terms and conditions of our carparks, which are displayed throughout our parking buildings and also available on our website, when a driver enters our carparks, they do so accepting these  <span data-toggle="modal" data-target="#myModal" class="popup">terms and conditions</span> as stipulated on the signage.*@
                    Instead we issue “breach notices” – these are not fines but a breach of the terms and conditions of our carparks which are displayed throughout our parking buildings and are also available on our <a href="http://www.primeparking.co.nz" target="_blank">website</a>. When a driver enters our carparks, they do so accepting these <span data-toggle="modal" data-target="#myModal" class="popup">terms and conditions</span> terms and conditions as stipulated on the signage.
                </p>
                <p class="details_p">
                    @*Municipal Enforcement also provides a highly experienced customer service team with skills in the appeal process and managing enquiries, we are here to help, so please do not hesitate to <a href="~/Home/Contact">contact us</a> using the online contact form.*@
                    We enforce these terms and conditions to ensure that our busy carparks are available for not only our loyal paying customers, but also new customers and visitors to our city. Municipal Enforcement also provides a highly experienced customer service team - we are here to help, so please do not hesitate to <a href="~/Home/Contact">contact us</a> using the online contact form.
                </p>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>TERMS AND CONDITIONS OF PARKING</h3>
                    <h5>TO ALL PEOPLE ENTERING THIS CARPARK WITH A VEHICLE</h5>
                </div>
                <div class="modal-body">
                    <div class="model_height">
                        <h6>
                            BY ENTERING THIS CARPARK YOU AGREE TO THE CONDITIONS SET OUT BELOW.
                            IF YOU DO NOT ACCEPT THESE CONDITIONS, PLEASE LEAVE THE CARPARK IMMEDIATELY.
                        </h6>
                        <p>1. Being the driver of the car, you drive with the owners Authority; you hereby also bind the owner of the vehicle you are driving to all these conditions.</p>
                        <p>2. These conditions apply at all times.</p>
                        <br class="clear" />
                        <h6>BY ENTERING THIS CARPARK YOU AGREE TO THE CONDITIONS SET OUT BELOW.</h6>
                        <p>3. You must pay for parking at the pay machine or by any other means available immediately after parking your car in this parking area.</p>
                        <p>
                            4. You agree to the following rules:
                            <ul>
                                <li>You must comply with all rules or directions displayed in the carpark and with all relevant laws.</li>
                                <li> You must not obstruct any other persons or vehicles using the carpark.</li>
                                <li>You must not park in any area marked ‘RESERVED’ OR ‘NO PARKING’ or outside of the line-marked parking bays.</li>
                                <li>You must not park in a bay without making payment  as relevant for your applicable bay.</li>
                                <li>The vehicle you are parking in this carpark must have a current warrant of fitness and registration, be roadworthy and be able at all times to be driven under its own power and not 	present any danger or risk to the other vehicles or persons in the carpark.</li>
                            </ul>
                        </p>

                        <p>
                            5. IN THE EVENT THAT:
                            <ul>
                                <li>You park in a “Reserved” parking space (detailed on parking space signage) outside of the listed available hours, Municipal Enforcement Ltd reserves the right to have your vehicle towed/clamped at your cost or we may issue a breach notice.</li>
                                <li>You have not made a valid payment for your vehicle or it does not display a valid ticket/window pass you agree you are parked unlawfully and we may issue a breach notice at a rate as stipulated below requiring you to pay within 21 days.</li>
                                <li>You are issued a breach notice and you do not pay the sums specified therein within 21 days of the date of issue of the notice, then we will send an additional reminder notice and you agree to pay the further sum of $20.00 to cover our administrative cost.</li>
                                <li>You are issued a reminder notice and you do not pay the sum specified therein within 21 days of the date of the reminder notice, you agree to:
                        <p>i.The debt passing to our debt collection agency to enforce payment of the money owing by you and the cost of the said debt 	collection:</p>
                        <p>
                            ii.Any solicitor/client costs incurred by us in enforcing payment of the money owing by you.
                            If you contravene clauses 1 to 5 of the above conditions, you agree that we may apply a wheel clamp to the vehicle you entered the car park with until all outstanding    debt has been paid and in addition to or as an alternative to issuing a notice as set out in clause 4 above. If we apply a wheel clamp to your car, you agree that the    wheel clamp will be removed only upon payment of a minimum  $100.00 release fee and payment of any outstanding debt.
                        </p>
                        </li>
                        </ul>
                        </p>
                        <p>6. In the event that your credit card transaction declines or dishonours, we reserve the right to re-process the transaction at a later date and we reserve the right to charge an additional fee.</p>
                        <br class="clear" />
                        <h6>RESPONSIBILITY FOR DAMAGE</h6>
                        <p>7. You are liable for any damage to the carpark caused by your vehicle.</p>
                        <p>8. While we shall take all reasonable care, we cannot guarantee the security of your vehicle. <br>We accept no liability for any claim by you or any other person, whether for loss or damage to you or any other person or to your 	vehicle or any other vehicle, whether resulting from using the carpark or being unable to use the carpark for our negligence or 	otherwise.</p>
                        <p>
                            9. We accept no liability for any loss or damage to any article left in our custody or control.<br>
                            Our employees are not authorised to accept any of your possessions for safe custody except the keys to your vehicle where possession is taken at our request.
                        </p>
                        <p>10. You agree to indemnify us in respect of any claim made against us arising from your use of the carpark or the use of the carpark by 	anyone else with your authority.</p>
                        <br class="clear" />
                        <h6>MISCELLANEOUS</h6>
                        <p>11. You must provide us with your full name and address if asked by us and agree that we are able to obtain the name and address of the owner of the vehicle from the motor vehicle register and to pass this information on to third parties for the purposes of debt recovery if necessary.</p>
                        <p>12. If we fail to act or pursue any right or remedy available to us this will not in any way prejudice our right to exercise that or any other right or remedy.</p>
                        <p>13. No one is authorised to amend these conditions on our behalf.</p>
                        <br class="clear" />
                        <h6>INTERPRETATION</h6>
                        <p>
                            To avoid any confusion as to the meaning of these conditions:
                            <ul>
                                <li>“claim” includes any claim for damage, loss or compensation and any demand, remedy, liability or action.</li>
                                <li>“damage” includes direct, indirect, consequential and special damage.</li>
                                <li>“outstanding debt” includes previous unpaid parking fees and/or unpaid enforcement notices.</li>
                                <li>“vehicle” includes its accessories and contents.</li>
                                <li>“We” and “us” means Municipal Enforcement Ltd and includes any of its employees, agents and independent contractors.</li>
                                <li>“you” includes both the driver and the owner of a vehicle entering this carpark.</li>
                                <li>“your vehicle” means the vehicle which you are driving, regardless of whether it is owned by you.</li>
                            </ul>
                        </p>
                        <br class="clear" />
                        <h6>BREACH NOTICE RATES:</h6>
                        <table class="pop_table">
                            <tr>
                                <td>Ticket Expired</td>
                                <td>$15</td>
                            </tr>
                            <tr>
                                <td>Non Payment</td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>Incorrectly parked</td>
                                <td>$15</td>
                            </tr>
                            <tr>
                                <td>Parked in Hourly Bay</td>
                                <td>$20</td>
                            </tr>
                            <tr>
                                <td>Parking in a Non Parking Area</td>
                                <td>$50</td>
                            </tr>
                        </table>

                        <br class="clear">
                        <p>Payment due 21 days from enforcement date.</p>
                        <p>Add $20 if reminder notice posted in mail after non-payment on time.</p>
                        <p>Add $50 or any collection costs (whichever is greater) if further action is required.</p>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>
    <div class="footer_bg">Copyright 2016. All Rights Reserved.</div>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@