
@{
    ViewBag.Title = "SessionTimeOut";
    Layout = "~/Views/Shared/EmptyMasterPage.cshtml";
}

<h2>SessionTimeOut</h2>

<h3>You are here because of Session Timed Out or You have logged out from the application.   Please login into the application by Clicking @Html.ActionLink("here", "Login")</h3>
<h3></h3>

