<p>Prime Property Online Purchases and Payments Terms & Conditions</p>
<p></p>
<p>1. GENERAL </p>
<p></p>
<p>1.1 This agreement applies to all purchases of Primeproperty products and services by you from the Primeproperty websites and replaces all previous agreements between you and us. </p>
<p></p>
<p>1.2 Primeproperty Ltd may change the terms of this agreement from time to time using the process set out in clause 19. </p>
<p></p>
<p>1.3 This is an important agreement, which you must read through before purchasing products from our websites. Making a purchase from our website specifies you have agreed to these terms and conditions. </p>
<p></p>
<p> </p>
<p></p>
<p>2. DEFINITIONS </p>
<p></p>
<p>2.1 In this agreement unless the context otherwise requires: </p>
<p></p>
<p>“You” or “your” means the purchaser. </p>
<p></p>
<p>“Us”, “we” or “our” means Primeproperty Ltd. </p>
<p></p>
<p>“Agreement” means this agreement and includes any other terms incorporated into it by reference. </p>
<p></p>
<p>“Information” means all the information supplied by you to us via the website or otherwise and includes, for example, your name, contact details, credit card details and your payment and transactions history. </p>
<p></p>
<p>“GST” means goods and services tax. </p>
<p></p>
<p>“Products” means all products available for purchase on our website. </p>
<p></p>
<p>“Services” means all services available for purchase on our website. </p>
<p></p>
<p>“Website” means our website, accessible via the www.primeproperties.co.nz, www.PrimeXXXXX.co.nz and www.PrimeYYYYY.co.nz domain name. </p>
<p></p>
<p> </p>
<p></p>
<p>3. PURCHASE TERMS </p>
<p></p>
<p>3.1 When purchasing products on the website you confirm and acknowledge that: </p>
<p></p>
<p>(a) You are legally entitled to make payment using the credit card whose details you have used to make the payment to Primeproperty Ltd and that you can provide sufficient evidence of that entitlement on request (e.g. NZ Driver’s Licence or Passport) prior to or upon delivery of the products. </p>
<p></p>
<p>(b) All information supplied by you to us is true and correct at the time you make any purchase on the website. </p>
<p></p>
<p>(c ) Notwithstanding the above, we may refuse to accept your order at our sole discretion. </p>
<p></p>
<p>(d) We may disclose your information to your bank and Credit Card Company and for the purposes of any debt recovery proceedings we may issue against you. </p>
<p></p>
<p>(e) We may restrict your ability to purchase products via the website by imposing a credit limit on your account. </p>
<p></p>
<p> </p>
<p></p>
<p>4. PRICE </p>
<p></p>
<p>4.1 Prices quoted on our website are inclusive of GST. You must pay us the full price quoted on the website at the time the order is submitted. Prices are given in New Zealand dollars. </p>
<p></p>
<p>4.2. We reserve the right to vary our prices without notice. No adjustments are made if the price of a product increases or decreases between the time the order is submitted and the time the product is delivered. </p>
<p></p>
<p>4.3 Prices and specials at our payment kiosk and those available online may not necessarily be the same.</p>
<p></p>
<p> </p>
<p></p>
<p>5. TRANSIT COST </p>
<p></p>
<p>5.1 Product prices quoted do not include transit costs. Any courier or handling charges in relation to your order will be notified to you at the time you place your order and be added to the price. Purchases made on our website will be delivered only within New Zealand. </p>
<p></p>
<p> </p>
<p></p>
<p>6. MISTAKES IN PRICE ARISING FROM COMPUTER ERROR </p>
<p></p>
<p>6.1 In the event that computer error results in a material misstatement of the price of your order we may, prior to your receipt of the order or at any time thereafter, require that you pay us the different between the amount actually paid by you in respect of your order and the correct amount payable. </p>
<p></p>
<p> </p>
<p></p>
<p>7. PRODUCT AVAILABILITY </p>
<p></p>
<p>7.1 All products are sold subject to their availability. Promotional items may be limited as to quantity. We shall not be responsible for our inability to supply products to you where they are not presently available or where our stock of the relevant product(s) has been exhausted. </p>
<p></p>
<p> </p>
<p></p>
<p>8. DELIVERY & TRANSIT </p>
<p></p>
<p>8.1 We will use our best endeavours to despatch orders that need to be physically delivered no later than two business days after the day your order is received by us and you have received confirmation of your order from us via email or equivalent. We are not responsible for any failure to deliver or relay in delivery caused by any event outside of our reasonable control. </p>
<p></p>
<p> </p>
<p></p>
<p>8.2 In the event that we fail to deliver any products, you may elect to cancel your order in respect only of the products not delivered unless we have contacted you and you have agreed to delivery at a later date. </p>
<p></p>
<p> </p>
<p></p>
<p>8.3 Where we fail to deliver or delay delivery of your order or part of your order or where any loss is incurred by you in relation to such delivery and is within our control, our liability shall be restricted to payment of the cost of replacing the order or part of the order, as we may determine (in our sole discretion). </p>
<p></p>
<p> </p>
<p></p>
<p>8.4 Advice regarding order shortages or damage in transit must be given to our Customer Services team no later than three days after receipt of products. The Customer Services team can be phoned on 09 xxx xxxx.</p>
<p></p>
<p> </p>
<p></p>
<p>8.5 Delivery is complete when the products reach the address you have specified for delivery. We will be responsible for arranging the delivery of products unless you arrange otherwise with us. </p>
<p></p>
<p> </p>
<p></p>
<p>8.6 Nothing in these terms entitles you to return the products as being surplus to your needs, or for any other reason other than set out herein. </p>
<p></p>
<p> </p>
<p></p>
<p>9. PAYMENT TERMS </p>
<p></p>
<p>CHARGES & INVOICING </p>
<p></p>
<p>9.1 You must pay us in full by credit card at the time that you submit your order. </p>
<p></p>
<p> </p>
<p></p>
<p>9.2 If you pay by credit card you agree to indemnify us against any default by your credit card company to make payment to us in full. </p>
<p></p>
<p> </p>
<p></p>
<p>9.3 We use “Flo2Cash Limited” to securely authorise credit card payments before any charges are made. For further information regarding “Flo2Cash Limited” and how it encrypts and processes transactions, please visit www.flo2cash.co.nz. Alternate payment options are unavailable online.</p>
<p></p>
<p> </p>
<p></p>
<p>9.4 Primeproperty online payment platform performs an immediate exchange of information between Primeproperty and your bank via “Flo2Cash”. Occasionally, your bank may not authorise a transaction, based on your account status or your card not being enabled for online purchases. In these instances, it is your bank denying your card, not Primeproperty, so please contact your bank for a resolution.</p>
<p></p>
<p> </p>
<p></p>
<p>10. WARRANTIES </p>
<p></p>
<p>10.1 We represent and warrant to you that: </p>
<p></p>
<p>(a) We have the right to sell the products to you. </p>
<p></p>
<p>(b) The products are not be subject to any undisclosed security or charge. </p>
<p></p>
<p>(c) You have the right to undisturbed possession of the products. </p>
<p></p>
<p> </p>
<p></p>
<p>10.2 We represent and warrant to you that the products: </p>
<p></p>
<p>(a) Are of acceptable quality having regard to their nature, the price, representations made by us and any statements made on packaging or labels. </p>
<p></p>
<p>(b) Are reasonably fit for the purpose that we represent. </p>
<p></p>
<p>(c) Supplied by description correspond with their description. </p>
<p></p>
<p> </p>
<p></p>
<p>11. CANCELLATION, RETURN AND REPLACEMENT </p>
<p></p>
<p>11.1 Subject to clause 8 of this agreement. </p>
<p></p>
<p>(a) After we have accepted your order for the products, you may not cancel the order without our consent. </p>
<p></p>
<p>(b) We will not consent to cancellation if we have processed documentation in fulfilment of your order. </p>
<p></p>
<p>(c) Returns for credit will be given at our discretion. The cost of return is your responsibility. </p>
<p></p>
<p>(d) In the event that we consent to cancellation, we may require you to pay a minimum handling charge of 15% of the total value of your order. </p>
<p></p>
<p> </p>
<p></p>
<p>12. USE OF YOUR INFORMATION </p>
<p></p>
<p>12.1 During the term of this agreement your use of the website will generate certain information that will be recorded electronically by us. Information of this type may include, for example, your IP address, your usage statistics, etc. We will also record your contact details, credit information and any related personal details that you supply or that we obtain independently. </p>
<p></p>
<p> </p>
<p></p>
<p>12.2 You acknowledge that we, our employees, carriers, contractors and agents may use or disclose any of the information identified in the previous paragraph for purposes connected with the supply of the services to you. Examples of purposes connected with supply include, for example: </p>
<p></p>
<p>(a) administration of your account with Primeproperty or on the website. </p>
<p></p>
<p>(b) carrying out credit checks. </p>
<p></p>
<p>(c) keeping you up to date with new offers/changes at Primeproperty. </p>
<p></p>
<p>(d) sharing with contractors to enable you to use or facilitate your use of the website. </p>
<p></p>
<p> </p>
<p></p>
<p>12.3 You may at any time make a written request to see any personal information that we hold or to ask us to correct any mistakes in that information. </p>
<p></p>
<p> </p>
<p></p>
<p>13. CONSENT TO RECEIPT OF ELECTRONIC MESSAGES </p>
<p></p>
<p>13.1 You agree by registering on this website that you expressly consent to your inclusion in our direct marketing database and accept that you may, as a result, receive regular electronic communications and promotional communications from us. You have the right to ask us at any time to stop sending online communications and promotional offers to you. </p>
<p></p>
<p> </p>
<p></p>
<p>14. INTELLECTUAL PROPERTY RIGHTS </p>
<p></p>
<p>14.1 All right, title and interest in all Intellectual Property in all concepts, systems, written, graphic and other material relating to Primeproperty online shop and its contents owned by, and shall at all times remain the exclusive property of Primeproperty, its licensors and the providers of products accessible through Primeproperty online parking, and is protected by New Zealand law. Nothing in these terms and conditions shall constitute any licence of intellectual property rights to the Customer. </p>
<p></p>
<p> </p>
<p></p>
<p>14.2 Any infringement of our intellectual property rights will be fully enforced under New Zealand law. </p>
<p></p>
<p> </p>
<p></p>
<p>15. GENERAL TERMS </p>
<p></p>
<p>NO WAIVER </p>
<p></p>
<p>15.1 No delay, neglect or forbearance in taking enforcement action in relation to any provision of these terms will be a waiver, or in any way prejudice any right, of that party. </p>
<p></p>
<p> </p>
<p></p>
<p>SEVERABILITY </p>
<p></p>
<p>15.2 If any part of these terms is held to be invalid, illegal or unenforceable, that part will be severed and the remainder of the terms will remain in full force and have full effect. </p>
<p></p>
<p> </p>
<p></p>
<p>PRIVITY </p>
<p></p>
<p>15.3 Third parties may take the benefits of rights expressed to be for their benefit in accordance with the Contracts (Privity) Act 1982. </p>
<p></p>
<p> </p>
<p></p>
<p>16. JURISDICTION </p>
<p></p>
<p>16.1 The website is provided for use by New Zealand residents. We make no representations that the website complies with the laws of any country outside of New Zealand. If you access the website from outside New Zealand, you do so at your own risk and you are responsible for complying with the laws in the place where you use the website when purchasing products online. </p>
<p></p>
<p> </p>
<p></p>
<p>16.2 This agreement is governed by New Zealand law and any legal action against us must be taken in a Court in New Zealand. </p>
<p></p>
<p> </p>
<p></p>
<p>17. ASSIGNMENT </p>
<p></p>
<p>17.1 You may not assign any rights under this agreement except with our prior written consent. </p>
<p></p>
<p> </p>
<p></p>
<p>17.2 We may assign our rights under this agreement without seeking your prior consent. </p>
<p></p>
<p> </p>
<p></p>
<p>18. NOTICES </p>
<p></p>
<p>18.1 We will send all invoices and notices required under this agreement to the address (postal, fax or email) that you have nominated as your preferred method of contact. It is your responsibility to ensure that you keep up us informed of any changes to your contact details. </p>
<p></p>
<p> </p>
<p></p>
<p>18.2 You will be deemed to have received a notice: </p>
<p></p>
<p>(a) Sent by email or fax, at the time that we send it; </p>
<p></p>
<p>(b) Sent by post, four days after we send it. </p>
<p></p>
<p> </p>
<p></p>
<p>19. AMENDMENTS </p>
<p></p>
<p>19.1 We may change the terms of this agreement by sending you notice ("amendment notice") to that effect by your preferred contact method and supplying you with the amended agreement. </p>
<p></p>
<p> </p>
<p></p>
<p>19.2 The agreement, as modified, will take effect from the date stated on the amendment notice but no later than 30 days following the date that we send the amendment notice.</p>
