<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <UserName>ifc\indideveloper-001</UserName>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://indideveloper-001-site5.atempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://indideveloper-001-site5.atempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>indideveloper-001-site5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="infringementEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=MYSQL5012.Smarterasp.net;Initial Catalog=db_9de278_infring;Persist Security Info=True;User ID=9de278_infring;Password=sasasasa" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="InfringementCustomerWeb.infringementEntities, InfringementCustomerWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=MYSQL5012.Smarterasp.net;database=db_9de278_infring;user id=9de278_infring;password=sasasasa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=MYSQL5012.Smarterasp.net;Database=db_9de278_infring;Uid=9de278_infring;Pwd=sasasasa;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)infringementEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/InfringementModel.csdl|res://*/InfringementModel.ssdl|res://*/InfringementModel.msl;provider=MySql.Data.MySqlClient;provider connection string="Data Source=MYSQL5012.Smarterasp.net;Initial Catalog=db_9de278_infring;Persist Security Info=True;User ID=9de278_infring;Password=sasasasa"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>